
$background-corporative: #2399a4;
span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
    
    &.inline-text {
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        display:inline-block;
    }
}

.img-responsive {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 80%;
}



table {

    td {
        background-color: lightblue;

        &.impar {
            background-color: lightcyan;
        }
    }

    thead {
        background-color: lightcoral;
    }

}